html{
    background-color: cadetblue;
    align-items: center;
    text-align: center;
    justify-items: center;
}
h1{
    display: inline-block;
    border: rgb(230, 100, 55);
    margin: rgb(230, 100, 55);
    padding: rgb(230, 100, 55);
    content: rgb(230, 100, 55);
}
video{
    size-adjust: 80px;
    display: inline-block;
    margin:5rem,80rem,5rem,80rem;
    align-items: center;
    align-content: center;
    border: rgb(230, 100, 55);
    margin: rgb(230, 100, 55);
    padding: rgb(230, 100, 55);
    content: rgb(230, 100, 55);
}
div{
    display: inline-block;
    width: 100%;
    border: rgb(230, 100, 55);
    margin: rgb(230, 100, 55);
    padding: rgb(230, 100, 55);
    content: rgb(230, 100, 55);
}
button{
    width: 40px;
    height: 2rem;
    background-color: rgb(225, 163, 62);
    border: rgb(230, 100, 55);
    margin: rgb(230, 100, 55);
    padding: rgb(230, 100, 55);
    content: rgb(230, 100, 55);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.75);
    margin: 1rem;
    font-size: 1rem;
    align-items: center;
    text-align: center;
    justify-items: center;
    vertical-align: middle;
    padding: .4em;
    margin: .2em;
}
